<%- include('./partials/header') %>

<h1>Stavon and Tyler</h1>
<div class="about-us">
  <table>
    <tr>
      <th>How we met:</th>
      <td>OkCupid</td>
    </tr>
    <tr>
      <th>How old we were:</th>
      <td>Stavon was 27, Tyler was 31.</td>
    </tr>
    <tr>
      <th>Our first date:</th>
      <td>Long! We spent 3 whole days together, and Tyler took Stavon on the boat(with pretty much his whole family, no pressure).</td>
    </tr>
    <tr>
      <th>What Stavon likes about Tyler:</th>
      <td>He's hilarious, smart, creative, witty, nerdy, and super handsome. His energy is magnetic and he is an amazing father for the kids.</td>
    </tr>
    <tr>
      <th>What Tyler likes about Stavon:</th>
      <td>She's very smart, open to change and learning new things. She's funny, and I find her attractive.</td>
    </tr>
  </table>
</div>
  
<%- include('./partials/footer') %>