<%- include('./partials/header') %>

<h1>Stavon and Tyler</h1>
<img src="/images/us2.jpg" alt="King Richard's Faire with the family" width=400px>
<ul>
  <li>How we met:</li>
  <li>How old we were:</li>
  <li>Our first date:</li>
  <li>What Stavon likes about Tyler:</li>
  <li>What Tyler likes about Stavon:</li>
</ul>

<%- include('./partials/footer') %>