<%- include('./partials/header') %>

<h1>Stavon and Tyler</h1>
<img src="/images/us2.jpg" alt="King Richard's Faire with the family" width=400px>
<!-- <ul>
  <li>How we met: OkCupid </li>
  <li>How old we were: Stavon was 27, Tyler was 31.</li>
  <li>Our first date: Long! We spent 3 whole days together, and Tyler took Stavon on the boat(with pretty much his whole family, no pressure).</li>
  <li>What Stavon likes about Tyler: He's hilarious, smart, creative, witty, nerdy, and super handsome. His energy is magnetic and he is an amazing father for the kids.</li>
  <li>What Tyler likes about Stavon: She's very smart, open to change and learning new things. She's funny, and I find her attractive. </li>
</ul> -->
<table>
  <thead>
    <tr>
      <th>How we met:</th>
    </tr>
    <tr>
      <th>How old we were:</th>
    </tr>
    <tr>
      <th>Our first date:</th>
    </tr>
    <tr>
      <th>What Stavon likes about Tyler:</th>
    </tr>
    <tr>
      <th>What Tyler likes about Stavon:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>OkCupid</td>
    </tr>
    <tr>
      <td>Stavon was 27, Tyler was 31.</td>
    </tr>
    <tr>
      <td>Long! We spent 3 whole days together, and Tyler took Stavon on the boat(with pretty much his whole family, no pressure).</td>
    </tr>
    <tr>
      <td>He's hilarious, smart, creative, witty, nerdy, and super handsome. His energy is magnetic and he is an amazing father for the kids.</td>
    </tr>
    <tr>
      <td>She's very smart, open to change and learning new things. She's funny, and I find her attractive.</td>
    </tr>
  </tbody>
</table>

<%- include('./partials/footer') %>