@import url('https://fonts.googleapis.com/css2?family=Allura&family=Amatic+SC:wght@700&family=Courgette&family=Kalam&family=Poiret+One&display=swap');

.brand-logo {
  margin-left: 15px;
}

@keyframes fade {
  from { color: white ;}
  to {color: rgb(199, 120, 0);}
}
@keyframes button {
  from {  
    background-color: #008c85;
    color: white;
  }
  to {
    filter: brightness(150%);
    color: black;
  }
}

a {
  color: white;
  text-decoration: underline;
}

li >.active {
  color: rgb(199, 120, 0);
}

body {
  box-sizing: border-box;
  padding: 50px;
  font-family: 'Poiret One', cursive;  
  text-align: center;
  font-size: 1.3em;
  font-weight: 600px;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: 100%;
  color: white;
  place-items: center;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 
  "header header header"
  ". body ."
  ;
}

button {
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.755);
}

button:active {
  transform: translate(0, 0.3rem)
}

button:hover, #button:hover {
  filter: brightness(150%);
  color: black;
  animation-name: button;
  animation-duration: .5s;
}

#button {
  box-shadow: 0 0.2rem rgba(121, 121, 121, 0.755);
  background-color: #008c85;
  color: white;
}

.card {
  width: 300px;
  background: #7272727e;
  flex: 1 1 150px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#guestbook {
  text-align: center;
}

#hash {
  font-family: 'Poiret One', cursive;  
  font-size: .7em;
}

nav {
  grid-area: header;
  font-size: 1.75em;
  font-weight: 500;
  font-family: 'Allura', cursive;
  background-color: rgba(0, 181, 172, 0.872);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d88500' fill-opacity='0.70'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 10px 0px;
  border: 1px solid white;
  border-radius: 10px;
}

img {
  border: 2px solid white;
  border-radius: 10px;
  width: 50vw;
}

li {
  list-style-type: none;
}

.main-div {
  width: 80%;
  height: 90vh;
  margin-top: 40px;
  background: rgb(213,89,0);
  background: linear-gradient(0deg, rgba(213,89,0,1) 0%, rgba(0,181,172,0.9023984593837535) 100%);
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  grid-area: body;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}




a:hover {
  color: rgb(240, 144, 0);
  animation-name: fade;
  animation-duration: .3s;
}

#reg, #about, #info {
  height: auto;
}
.reg-card, .message-card {
  display: flex;
  flex-wrap: wrap;
}

#search-row form {
  padding-top: 20px;
}

table{
  border-radius: 10px;
  border: 1px solid white;
  background: #7272727e;
}

tr {
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px;
  margin: 10px;
}
th {
  font-weight: 900;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
#menu {
  font-size: 1.75em;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 830px){
  body {
    background-size: 140%;
  }
  .main-div {
    width: 110%;
  }
} 